@font-face {
    font-family: Tangerine;
    src: url('../fonts/Tangerine_Bold.ttf');
}

.tangerine-header {
    font-family: Tangerine;
    font-size: 200%;
    color: black;
}

.page-header {
    border: none !important;
    background-color: #fff3e5;
    margin-top: 0;
    margin-bottom: 0;
}

.page-header H1 {
    text-align: center;
    margin-top: 30px;
}

.page-header H1 a {
    text-decoration: none;
}

.page-header H1 a:hover {
    color: #adadad;
}

.page-header H4 {
    text-align: center;
    color: #adadad;
    font-size: 2.2rem;
}

.nav-justified {
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #fff3e5;
}

.nav-justified li a {
    text-decoration: none;
    color: black;
}

.nav-justified li a:hover {
    background-color: #fff3e5;
    color: #adadad;
}

.nav-justified li a:active {
    background-color: #fff3e5;
    color: black;
}

@media (min-width: 768px) {
    .nav-justified li a {
        font-size: medium;
    }
}
@media (min-width: 1px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 140px;
    background-color: #f8f8f8;

    /* testing background image stuff */
    /*background: black url('../img/Reception.jpg') no-repeat center;
    /*background-repeat: no-repeat;
    background-size: 80%;*/
}

.footer {
    position: absolute;
    padding-top: 25px;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 140px;
    color: #767676;
    background-color: black;
}

.footer p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    text-align: center;
}

.footer p a {
    text-decoration: none;
    color: #b2b2b2;
}

.black-bg {
    background-color: black;
}

.cream-border {
    border-left: 7px solid #fff3e5;
}

.remove-padding {
    padding-left: 0;
}

.lower-pad {
    padding-bottom: 20px;
}
