{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - John Sutcliffe</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        {% block extra_head %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container-fluid page-header">
            <H1><a class="tangerine-header" href="{% url 'basic_page:home' %}">John Sutcliffe</a></H1>
            <H4 class="tagline-colour">Wedding DJ & Guitarist</H4>
        </div>
            <nav>
                <ul class="nav nav-justified">
                    <li><a href="{% url 'basic_page:home' %}">Home</a></li>
                    <li><a href="{% url 'basic_page:reception' %}">Reception</a></li>
                    <li><a href="{% url 'basic_page:music' %}">Music</a></li>
                    <li><a href="{% url 'contact:form' %}">Enquiries</a></li>
                </ul>
            </nav>
        {% block header-below %}{% endblock %}
        <div class="container-fluid">
            {% block content_before %}{% endblock %}
            <div class="row">
                <div class="col-sm-offset-1">
                    <div class="col-sm-9">
                        <blockquote class="cream-border">
                            <H3>{% block page_name %}{% endblock %}</H3>
                        </blockquote>
                    </div>
                </div>
            </div>
            {% block content_after %}{% endblock %}
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="footer">
                    <p>Phone: <a>0410 925 297</a></p>
                    <p>Email: <a href="mailto:info@johnsutcliffe.com.au">Click Here</a></p>
                    <p>Copyright © 2016
                        <a target="_blank" href="http://pyweb.com.au">PyWeb</a>
                        . All rights reserved.</p>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>