{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Welcome{% endblock %}
{% block content_before %}
    <div class="row">
        <div class="col-md-12 black-bg remove-padding">
            <img class="img-responsive" src="{% static 'img/Cover.png' %}"/>
        </div>
    </div>
{% endblock %}
{% block page_name %}Welcome{% endblock %}
{% block content_after %}
    <div class="row lower-pad">
        <div class="col-xs-offset-1 col-sm-offset-2">
            <div class="col-xs-12 col-sm-9">
                <p class="lg-text">
                    John Sutcliffe is an experienced and classically trained guitarist specialising in
                    wedding receptions. John plays live Jazz, Latin and Lounge guitar, providing the
                    perfect ambience while you dine with your wedding guests.
                </p>
                <p class="lg-text">
                    Your reception continues with John's personalised DJ service, having planned every
                    detail with you prior to the night.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
