{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Welcome{% endblock %}
{% block content_before %}
    <div class="row">
        <div class="col-md-12 black-bg remove-padding">
            <img class="img-responsive" src="{% static 'img/Cover.png' %}"/>
        </div>
    </div>
{% endblock %}
{% block page_name %}Welcome{% endblock %}
{% block content_after %}
    <div class="row">
        <div class="col-xs-offset-1 col-sm-offset-2">
            <div class="col-xs-12 col-sm-9">
                {{ content.0.text_content | safe }}
            </div>
        </div>
        <div class="col-sm-offset-1"></div>
    </div>
{% endblock %}
