{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Music{% endblock %}
{% block page_name %}Music Gallery{% endblock %}
{% block content_after %}
    <!-- Collapse for mobile -->
    <div class="row visible-xs lower-pad">
        <div class="col-xs-offset-1">
            <div class="col-xs-11 ">
                <p class="lead">
                    Tap below to hear samples of John's music
                </p>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <div class="panel-heading" role="tab" id="BrazilianHeading">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion" href="#Brazilian" aria-expanded="false"
                                   aria-controls="Brazilian" data-audio="audio1">
                                    <span class="glyphicon glyphicon-play"></span> Brazilian Chill
                                </a>
                            </h4>
                        </div>
                        <div id="Brazilian" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="BrazilianHeading">
                            <div class="panel-body">
                                <img class="img-responsive" src="{% static 'img/1.jpg' %}">
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading" role="tab" id="CubanHeading">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion" href="#Cuban" aria-expanded="false"
                                   aria-controls="Cuban" data-audio="audio2">
                                    <span class="glyphicon glyphicon-play"></span> Cuban Cha Cha
                                </a>
                            </h4>
                        </div>
                        <div id="Cuban" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="CubanHeading">
                            <div class="panel-body">
                                <img class="img-responsive" src="{% static 'img/2.jpg' %}">
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading" role="tab" id="HavanaHeading">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion" href="#Havana" aria-expanded="false"
                                   aria-controls="Havana" data-audio="audio3">
                                    <span class="glyphicon glyphicon-play"></span> Lively Havana
                                </a>
                            </h4>
                        </div>
                        <div id="Havana" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="HavanaHeading">
                            <div class="panel-body">
                                <img class="img-responsive" src="{% static 'img/3.jpg' %}">
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading" role="tab" id="LatinHeading">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion" href="#Latin" aria-expanded="false"
                                   aria-controls="Latin" data-audio="audio4">
                                    <span class="glyphicon glyphicon-play"></span> Latin Jam
                                </a>
                            </h4>
                        </div>
                        <div id="Latin" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="LatinHeading">
                            <div class="panel-body">
                                <img class="img-responsive" src="{% static 'img/4.jpg' %}">
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading" role="tab" id="LoungeHeading">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion" href="#Lounge" aria-expanded="false"
                                   aria-controls="Lounge" data-audio="audio5">
                                    <span class="glyphicon glyphicon-play"></span> Smooth Lounge
                                </a>
                            </h4>
                        </div>
                        <div id="Lounge" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="LoungeHeading">
                            <div class="panel-body">
                                <img class="img-responsive" src="{% static 'img/5.jpg' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel for desktop -->
    <div class="row hidden-xs lower-pad">
        <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
            <div class="col-sm-10 col-md-10 col-lg-10">
                <p class="lead">
                    Click below to hear samples of John's music
                </p>
                <div data-role="page">
                    <div id="audio-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                        <ol class="carousel-indicators">
                            <li data-target="#audio-carousel" data-slide-to="0"
                                class="active" data-toggle="tooltip" data-placement="bottom" title="Brazilian Chill"
                            ></li>
                            <li data-target="#audio-carousel" data-slide-to="1"
                                data-toggle="tooltip" data-placement="bottom" title="Cuban Cha Cha"
                            ></li>
                            <li data-target="#audio-carousel" data-slide-to="2"
                                data-toggle="tooltip" data-placement="bottom" title="Lively Havana"
                            ></li>
                            <li data-target="#audio-carousel" data-slide-to="3"
                                data-toggle="tooltip" data-placement="bottom" title="Latin Jam"
                            ></li>
                            <li data-target="#audio-carousel" data-slide-to="4"
                                data-toggle="tooltip" data-placement="bottom" title="Smooth Lounge"
                            ></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <a class="carousel-pointer" data-audio="audio1">
                                    <img class="img-responsive center-block" src="{% static 'img/1.jpg' %}">
                                </a>
                            </div>
                            <div class="item">
                                <a class="carousel-pointer" data-audio="audio2">
                                    <img class="img-responsive center-block" src="{% static 'img/2.jpg' %}">
                                </a>
                            </div>
                            <div class="item">
                                <a class="carousel-pointer" data-audio="audio3">
                                    <img class="img-responsive center-block" src="{% static 'img/3.jpg' %}">
                                </a>
                            </div>
                            <div class="item">
                                <a class="carousel-pointer" data-audio="audio4">
                                    <img class="img-responsive center-block" src="{% static 'img/4.jpg' %}">
                                </a>
                            </div>
                            <div class="item">
                                <a class="carousel-pointer" data-audio="audio5">
                                    <img class="img-responsive center-block" src="{% static 'img/5.jpg' %}">
                                </a>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#audio-carousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#audio-carousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <audio id="audio1" preload="auto">
        <source src="{% static 'audio/1-brazillian-chill.mp3' %}" type="audio/mp3">
    </audio>
    <audio id="audio2" preload="auto">
        <source src="{% static 'audio/Cuban-cha-cha.mp3' %}" type="audio/mp3">
    </audio>
    <audio id="audio3" preload="auto">
        <source src="{% static 'audio/4-lively-havana.mp3' %}" type="audio/mp3">
    </audio>
    <audio id="audio4" preload="auto">
        <source src="{% static 'audio/3-latin-jam.mp3' %}" type="audio/mp3">
    </audio>
    <audio id="audio5" preload="auto">
        <source src="{% static 'audio/5smooth-lounge.mp3' %}" type="audio/mp3">
    </audio>
    <script type="text/javascript" src="{% static 'js/init_doc.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/desktop-music-player.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mobile-music-player.js' %}"></script>
{% endblock %}